{% extends 'blog/base.html' %} 

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>
        <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
        <p class="card-text ">{{ post.content | safe }}</p>
      </div>
    </div>
    {% block sidebar %} {% include 'blog/sidebar.html' %} {% endblock sidebar %}

    <!-- <div class="col-md-8 card mb-4  mt-3 ">
      <div class="card-body">
        {% load crispy_forms_tags %}
        <h3>Leave a comment</h3>
        <form id="comment-form" method="post" style="margin-top: 1.3em;">
          {{ comment_form | crispy }}
          {% csrf_token %}
          <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
        </form>
      </div>
    </div> -->

    <div class="main-comment-section">
      {% include 'blog/comments.html' %}
    </div>

    <!-- <div class="col-md-8 card mb-4  mt-3 ">
      <div class="card-body">
        
      </div>
    </div> -->
    
    {% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            // catch the form's submit event
            $('.comment-form').submit(function (event) {
                event.preventDefault();
                // create an AJAX call
                $.ajax({
                    data: $(this).serialize(), // get the form data
                    type: $(this).attr('method'), // GET or POST
                    url: $(this).attr('action'),
                    // on success
                    success: function (response) {
                      alert("Thank you " + response.name + "! Your comment is awating moderation.");
                      $('.comment-form').get(0).reset();
                    },
                    // on error
                    error: function (response) {
                        // alert the error if any error occured
                        alert(response.responseJSON.errors)
                    }
                });
                return false;
            });
        })

        // $(document).on('submit', '.comment-form', function(event){
        //   event.preventDefault();
        //   console.log($(this).serialize());
        //   $.ajax({
        //     type: 'POST',
        //     url: $(this).attr('action'),
        //     data: $(this).serialize(),
        //     dataType: 'json',
        //     success: function(response) {
        //       // $('.main-comment-section').html(response['form']);
        //       $('.comment-form').get(0).reset();
        //       $('.reply-btn').click(function() {
        //         $(this).parent().parent().next('.replied-comments').fadeToggle();
        //         $('.comment-form').get(0).reset();
        //       });
        //     },
        //     error: function(rs, e) {
        //       console.log(rs.responseText);
        //     },
        //   });
        // });

        $('.reply-btn').click(function() {
          $(this).parent().parent().next('.replied-comments').fadeToggle()
        });

        $(document).on('submit', '.reply-form', function(event){
          event.preventDefault();
          console.log($(this).serialize());
          $.ajax({
            type: 'POST',
            url: $(this).attr('action'),
            data: $(this).serialize(),
            dataType: 'json',
            success: function(response) {
              $('.main-comment-section').html(response['form']);
              $('textarea').val('');
              $('.reply-btn').click(function() {
                $(this).parent().parent().next('.replied-comments').fadeToggle();
                $('textarea').val('');
              });
            },
            error: function(rs, e) {
              console.log(rs.responseText);
            },
          });
        });
        
    </script>
    {% endblock javascript %}
  </div>
</div>
{% endblock content %}