{% extends "blog/base.html" %} 
{% block content %}

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white"> Welcome to my Blog </h3>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            {% for post in posts %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text text-muted h6">{{ post.author|capfirst }} | {{ post.created_on}} </p>
                    <p class="card-text">{{ post.content|safe|truncatewords:"50"|linebreaks }}</p>
                    <a href="{% url 'post_detail' post.slug post.id %}">READ MORE</a>
                </div>
            </div>
            {% empty %}
            <div class="container-fluid">
                <h3>No Posts Found having search query "{{ request.GET.q }}"</h3>
            </div>
            {% endfor %}
        </div>
        {# % block sidebar %} {% include 'blog/sidebar.html' %} {% endblock sidebar % #}
    </div>
</div>

<ul class="pagination">
  {% if posts.has_previous %}
    <li class="page-item">
      <a href="?page={{ posts.previous_page_number }}" class="page-link">&laquo;</a>
    </li>
  {% endif %}

  {% for p in page_range %}
    {% if posts.number == p %}
      <li class="page-item active">
        <a href="?page={{ p }}" class="page-link">{{ p }}</a>
      </li>
    {% else %}
      <li class="page-item">
        <a href="?page={{ p }}" class="page-link">{{ p }}</a>
      </li>
    {% endif %}
  {% endfor %}

  {% if posts.has_next %}
    <li class="page-item">
      <a href="?page={{ posts.next_page_number }}" class="page-link">&raquo;</a>
    </li>
  {% endif %}
</ul>

{%endblock%}